* {
  font-family: Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.login-container {
  height: 400px;
  width: 348px;
  background-color: azure;
  border-radius: 10px;
  text-align: center;
  border-radius: 10px;
  border: 0.25px solid gray;
}

.login-box {
  margin-top: 40px;
  /*this will create a gap between title and input element*/
}

input {
  height: 25px;
  width: 300px;
  border: 0.5px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login-box button {
  height: 30px;
  width: 250px;
  background-color: #93CEFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease
}

.login-box button:hover {
  background-color: #70B3FF;

}

.login-box button:active {
  background-color: #70B3FF;
  border: 1px solid;
  cursor: auto;
  /*for changing the cursor movement when click to the button*/
}

.oldacc {
  margin-top: 30px;
  font-size: 0.85rem;
}

.login-container a {
  text-decoration: none;
  font-weight: 900;
  margin-left: 5px;
}